/* Style for laptops... based on minimum width of 1200px */

@media (min-width: 1200px) {}
/* Map Styles */

.navbar-map {
  width: 14%;
  margin-left:80%;
  margin-top: 5px;
  background: transparent;
  border-bottom: 0px;
}
.hide-menu {
  visibility: visible;
}
.dropdown-map {
  display: inline-block;
}
#profile-interface {
  visibility: hidden;
}
#match-listings {
  visibility: hidden;
}
/* Match Listing Styles */

.matches2 {
  width: 500px;
}
.match-enlarge {
  margin-right: 20px;
  cursor: pointer;
}
.match-enlarge:hover {
  background-color: #f2f2f2;
}
/* Match Details Styles */

#match-details {
  visibility: hidden;
}
.match-details-heading {
  margin-left: 10px;
}
#googledirections {
  height: 300px;
  overflow: auto;
}
#match-listings {
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}
.match-box {
  height: 125px;
  width: 100%;
  background: #fff;
  padding: 5px;
  box-shadow: 0.5px 0.5px 1px #000;
}
.twt-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:15px;
}

.twt-wrapper {
  border-bottom: 0px;

}
.title {
  font-family: "Source Sans Pro";
  font-size: 20px;
}

.show-directions {
  display: none;
}

/* Message Interface */
#message-box {
  display: none;
  height:100%;

}
.message{
  position: absolute;
  height: 100px;
  width: 100%;
  display: block;
  padding: 5px;
  background: url(../img/noisy_net.png);
}




/* Landing Page Styles */

#top {
  opacity: 1;
}
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/noisy_net.png);
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}
.landing-form {
  width: 340px;
  text-align: center;
  margin: 0 auto;
}
/* Misc Styles*/

html, body {
  height: 100%;
}
body {
  padding-top: 0px;
  /*padding for navbar*/

  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wrapper-map {
  position: relative;
}
.map-container-host {
  width: 100%;
  height: calc(100% - 0);
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0;
  overflow: none;
}
#sidebar-extensions-map {
  margin-left: 40%;
  height: 100%;
  width: 60%;
  z-index: 1000;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
