<template name="map">

  <!-- Match Map Container -->
  {{>map_details}}

  <!-- Navigation Bars -->
  {{>navbar}}

  <!-- Profile Page -->
  <div id="sidebar-extension">
    <div id="match-listings">

      <!-- Match list page. Two routes, depending on Session variable 'matchOn' -->

      {{#if matchOn}} {{#with match}} {{>matches}} {{/with}} {{else}} {{#if profileOn}} {{>matches}} {{else}} {{>matches}} {{/if}}{{/if}}
    </div>



  </div>

  <div id="sidebar-extension-match">
    <div id="message-box">
      {{>chat}}
    </div>

  </div>
  <!-- Primary Map Container -->
  <div class="map-container-host">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div>

</template>
