<template name="new_profile">
  <div id="profile-interface" style="visibility: visible;">
    <div class="container" style="visibility: visible;box-shadow: 0 0 3px #000; z-index: 1000; background: url(../img/noisy_net.png); color: #fff">
      <h3> Your Account</h3>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="text-center">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/000/25f/366/2908796.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-10">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" id="firstName" value="{{user.profile.firstName}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" id="lastName" value="{{user.profile.lastName}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Gender:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_gender" class="form-control">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Skill:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_skill" class="form-control">
                  <option value="{{user.profile.skill}}">
                    <strong> {{user.profile.skill}} </strong>
                  </option>
                  <option value="2.0">2.0</option>
                  <option value="2.5">2.5</option>
                  <option value="3.0">3.0</option>
                  <option value="3.5">3.5</option>
                  <option value="4.5"> 4.0</option>
                  <option value="4.5">4.5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" id="username" value="{{user.username}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary profile-submit" value="Save Changes" type="submit">
              <span></span>
              <input class="btn btn-default profile-cancel" value="Cancel" type="button">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-1"> </div>
    </div>
  </div>
</template>
